<div class="container">
  <div class="email-verification-container">
    <h1>Verifique seu e-mail para obter o código</h1>
    <p>
      Enviamos um código de seis caracteres para
      <strong>email_example.com</strong>. Não demore para inserir o código, pois
      ele expirará em breve.
    </p>
    <div class="code-inputs">
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
    </div>
    <div class="email-actions">
      <button>Abrir o Gmail</button>
      <button>Abrir o Outlook</button>
    </div>
    <p class="small-text">
      Não consegue encontrar o código? Verifique sua pasta de spam.
    </p>
  </div>
</div>
