<footer class="footer">
    <div class="container">
      <p>&copy; 2023 MatcHub. Todos os direitos reservados.</p>
      <p>Política de Privacidade | Termos de Uso</p>
      <div class="social-icons">
        <a href="https://github.com/tarcidio/match-hub" target="_blank">
          <img src="../../../../assets/github.png" alt="GitHub" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/in/tarcidio/" target="_blank">
          <img src="../../../../assets/linkedin.png" alt="LinkedIn" class="social-icon">
        </a>
      </div>
    </div>
  </footer>