<footer class="footer">
    <div class="container">
      <p>&copy; 2024 MatcHub. Distribuído sob a licença MIT.</p>
      <p>Contribua no GitHub</p>
      <div class="social-icons">
        <a href="https://github.com/tarcidio/matchub-web" target="_blank">
          <img src="../../../../assets/github.png" alt="GitHub" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/in/tarcidio/" target="_blank">
          <img src="../../../../assets/linkedin.png" alt="LinkedIn" class="social-icon">
        </a>
      </div>
    </div>
  </footer>

  <!-- <footer class="footer">
    <div class="container">
      <p>&copy; 2024 MatcHub. Distribuído sob a licença MIT.</p>
      <p><a href="https://github.com/tarcidio/matchub-web/blob/main/CONTRIBUTING.md" target="_blank">Contribua no GitHub</a></p>
      <div class="social-icons">
        <a href="https://github.com/tarcidio/matchub-web" target="_blank">
          <img src="../../../../assets/github.png" alt="GitHub" class="social-icon">
        </a>
      </div>
    </div>
  </footer> -->