.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.footer .container {
  width: 80%;
  margin: 0 auto;
}

.footer p {
  margin: 5px 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  width: 8.4vh; /* Ajuste o tamanho conforme necessário */
  margin: 0 10px;
}
