<div class="container">
  <div class="character main">
    <img
      [src]="spotlightImgPath$ | async"
      alt="Selected Spotlight"
    />
    <!-- ngModel: tag value -->
    <!-- [()]: two-way binding -->
    <select
      [(ngModel)]="spotligthNameSelected"
      (ngModelChange)="updateScreen()"
    >
      <option
        *ngFor="let champion of champions$ | async"
        [value]="champion.name"
      >
        {{ champion.name }}
      </option>
    </select>
  </div>
  <div class="vs">VS</div>
  <div class="character opponent">
    <img
      [src]="opponentImgPath$ | async"
      alt="Selected Opponent"
    />
    <select
      [(ngModel)]="opponentNameSelected"
      (ngModelChange)="updateScreen()"
    >
      <option
        *ngFor="let champion of champions$ | async"
        [value]="champion.name"
      >
        {{ champion.name }}
      </option>
    </select>
  </div>
</div>
