<app-nav></app-nav>
<div class="container">
  <div class="user-image">
    <img src="../../../../../assets/tarcidio.jpg" alt="User Image" />
  </div>
  <app-info>
    <span type-information>User Information</span>
    <span descrition-information
      >Update your username and full name as needed.</span
    >
    <div class="form-group">
      <label for="nickname">Nickname</label>
      <input type="text" id="nickname" value="Jorel" />
    </div>
    
  </app-info>
  <app-info>
    <span type-information>Personal Information</span>
    <span descrition-information
      >This information is private and will not be shared with others.</span
    >
    <div class="form-group">
        <label for="fullname">Full name</label>
        <input type="text" id="fullname" value="Tarcidio Antonio Júnior" />
      </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        id="email"
        placeholder="tar**************@gmail.com"
      />
    </div>
  </app-info>
  <app-info>
    <span type-information>Account Sign-In</span>
    <span descrition-information
      >We recommend that you periodically update your password to help prevent
      unauthorized access to your account.</span
    >
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" value="ta********24" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password" />
    </div>
    <div class="form-group">
      <label for="newpassword">New Password</label>
      <input type="password" id="newpassword" placeholder="New Password" />
    </div>
    <div class="form-group">
      <label for="confirm">Confirm New Password</label>
      <input type="password" id="confirm" placeholder="Confirm Password" />
    </div>
  </app-info>
</div>
<app-footer></app-footer>
