<app-nav></app-nav>
<div class="container">
  <!-- <div class="user-image">
    <img src="../../../../../assets/tarcidio.jpg" alt="User Image" />
  </div> -->

  <div
    class="user-image"
    (mouseover)="hover = true"
    (mouseleave)="hover = false"
  >
    <img [src]="hubUserImg$ | async" alt="Hub User Image" />
    <div class="overlay" *ngIf="hover" (click)="activateModalUpload()"></div>
  </div>

  <div class="profile-container">
    <div class="description">
      <strong>User Information</strong>
      <p>Update your username and full name as needed.</p>
    </div>
    <form
      [formGroup]="formUserInformation"
      (ngSubmit)="updateUserInformation()"
      class="profile-form"
    >
      <div class="form-group">
        <label for="nickname">Nickname</label>
        <input type="text" id="nickname" formControlName="nickName" />
      </div>
      <div class="button-save-changes-container">
        <button type="submit" class="form-button">Salve Changes</button>
      </div>
    </form>
  </div>

  <div class="profile-container">
    <div class="description">
      <strong>Personal Information</strong>
      <p>This information is private and will not be shared with others.</p>
    </div>
    <form
      [formGroup]="formPersonalInformation"
      (ngSubmit)="updatePersonalInformation()"
      class="profile-form"
    >
      <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" id="firstname" formControlName="firstName" />
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" id="lastname" formControlName="lastName" />
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          id="email"
          placeholder="{{ email$ | async }}"
          formControlName="email"
        />
      </div>
      <div class="button-save-changes-container">
        <button type="submit" class="form-button">Salve Changes</button>
      </div>
    </form>
  </div>

  <div class="profile-container">
    <div class="description">
      <strong>Account Sign-In</strong>
      <p>
        We recommend that you periodically update your password to help prevent
        unauthorized access to your account.
      </p>
    </div>
    <form
      [formGroup]="formChangePassword"
      (ngSubmit)="changePassword()"
      class="profile-form"
    >
      <div class="form-group">
        <label for="username">Username</label>
        <!-- <input type="text" id="username" value="ta********24" /> -->
        <div class="pseudo-input">{{ username$ | async }}</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Password"
          formControlName="oldPassword"
        />
      </div>
      <div class="form-group">
        <label for="newpassword">New Password</label>
        <input
          type="password"
          id="newpassword"
          placeholder="New Password"
          formControlName="newPassword"
        />
      </div>
      <div class="form-group">
        <label for="confirm">Confirm New Password</label>
        <input
          type="password"
          id="confirm"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
      </div>
      <div class="button-save-changes-container">
        <button type="submit" class="form-button">Salve Changes</button>
      </div>
    </form>
  </div>

  <div class="button-quit-container">
    <button (click)="activateModalExit()">Quit</button>
  </div>

  <!-- Modal de Atualização -->
  <div
    class="modal modal-update"
    *ngIf="isModalUpdate"
    (click)="disableModalUpdate()"
  >
    <div
      class="modal-content modal-content-update"
      (click)="$event.stopPropagation()"
      (keydown.enter)="disableModalUpdate()"
    >
      <h2>{{ titleModal }}</h2>
      <p>{{ messageModal }}</p>
      <button
        class="close-button close-button-update"
        (click)="disableModalUpdate()"
      >
        Back
      </button>
    </div>
  </div>

  <!-- Modal de Saída -->
  <div
    class="modal modal-exit"
    *ngIf="isModalExit"
    (click)="disableModalExit()"
  >
    <div
      class="modal-content modal-content-exit"
      (click)="$event.stopPropagation()"
    >
      <h2>Confirmation</h2>
      <p>Do you really want to leave?</p>
      <button class="exit-button yes-button" (click)="confirmExit()">
        Yes
      </button>
      <button class="exit-button no-button" (click)="disableModalExit()">
        No
      </button>
    </div>
  </div>

  <!-- Modal de Upload de Imagem -->
  <div
    class="modal modal-upload"
    *ngIf="isModalUpload"
    (click)="disableModalUpload()"
  >
    <div
      class="modal-content modal-content-upload"
      (click)="$event.stopPropagation()"
    >
      <h2>Upload Image</h2>
      <div *ngIf="previewImgSrc">
        <img
          [src]="previewImgSrc"
          alt="Image Preview"
          style="border-radius: 50%; width: 200px; height: 200px"
        />
      </div>
      <input
        type="file"
        id="imageUpload"
        (change)="handleFileInput($event)"
        accept=".jpg"
        hidden
      />
      <label for="imageUpload" class="custom-file-upload"> Choose file </label>
      <div *ngIf="isErrorType">Please, enter .jpg file</div>
      <button
        class="upload-button"
        (click)="uploadImg()"
        [disabled]="!imgSrc"
      >
        Upload
      </button>
      <button class="close-button" (click)="disableModalUpload()">
        Cancelar
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
