<div class="login-container">
  <div class="auth-form">
    <h2>Login</h2>

    <form form-content [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-input">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          formControlName="username"
        />
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>

      <button type="submit" class="login-button">→</button>
    </form>

    <div class="error" *ngIf="error != ''">
      {{error}}
    </div>

    <div class="links">
      <div class="forget"><a href="#">Forget password?</a></div>
      <div class="register"><a routerLink="/auth/register">Register</a></div>
    </div>
  </div>
</div>
<app-footer></app-footer>

