<!-- 
    Aprendizados:

    1. <ng-content> não é estilizável. Se quiser estilizar algo, terá que fazer direto no conteúdo
que está sendo projetado.
    2. Use projeção mais para organizar e se estiver um estilo que se aplica igualmente a todos
os campos da projeção
    3. Para selecionar, pode ser feito com classe, nome ou tag
 -->


<div class="login-container">
    <ng-content select="h2"></ng-content>
    <ng-content select="[form-content]"></ng-content>
    <ng-content select="button"></ng-content>
    <ng-content select=".links"></ng-content>
</div>