<div class="comment">
  <div class="user-info">
    <img
      src="../../../../../assets/tarcidio.jpg"
      alt="User Image"
      class="user-image"
    />
    <div>
      <div class="username">Tarcidio</div>
      <div class="user-title">Barao</div>
    </div>
  </div>
  <p class="comment-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus
    laoreet diam, non tempus lectus accumsan non. Etiam et augue ligula. Nunc
    tincidunt dolor et tortor aliquet elementum. Curabitur lorem metus, faucibus
    eu dolor at, condimentum varius dolor. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia curae; Praesent vulputate
    ex sit amet quam mattis egestas. Donec in ex ac eros imperdiet aliquet in
    nec mauris. Mauris tincidunt varius purus, ac blandit nibh tristique vel.
    Proin gravida fermentum turpis, eget gravida augue malesuada vitae.
  </p>
  <div class="comment-actions">
    
    <button class="like-button">Like</button>
    <span class="likes-unlikes-count">22</span>
    <span class="likes-unlikes-count">22</span>
    <button class="unlike-button">Unlike</button>
  </div>
</div>
