<div class="comment">
  <div class="user-info">
    <img src="{{ hubUserImg }}" alt="User Image" class="user-image" />
    <div>
      <div class="username">{{ comment?.hubUser?.nickname }}</div>
      <div *ngIf="isConnectRSO; else notConnected" class="user-title">
        {{ comment?.hubUser?.summonerName }}
      </div>
      <ng-template #notConnected>
        <div class="user-title">User is not logged in with Riot Account</div>
      </ng-template>
    </div>
  </div>
  <p class="comment-text">{{ comment?.text }}</p>
  <div class="comment-actions" *ngIf="!isOwner">
    <button
      *ngIf="!hasLiked"
      (click)="manageLikeSystem('like', 'up')"
      class="like-unlike-button like-button"
    >
      <span *ngIf="!isUpdatingLike">Like</span>
      <i *ngIf="isUpdatingLike" class="fas fa-spinner fa-spin"></i>
    </button>
    <button
      *ngIf="hasLiked"
      (click)="manageLikeSystem('like', 'down')"
      class="like-unlike-button like-button liked"
    >
      <span *ngIf="!isUpdatingLike">Liked</span>
      <i *ngIf="isUpdatingLike" class="fas fa-spinner fa-spin"></i>
    </button>
    <span class="likes-unlikes-count">{{ comment?.numGoodEvaluation }}</span>
    <span class="likes-unlikes-count">{{ comment?.numBadEvaluation }}</span>
    <button
      *ngIf="!hasUnliked"
      (click)="manageLikeSystem('unlike', 'up')"
      class="like-unlike-button unlike-button"
    >
      <span *ngIf="!isUpdatingUnLike">Unlike</span>
      <i *ngIf="isUpdatingUnLike" class="fas fa-spinner fa-spin"></i>
    </button>
    <button
      *ngIf="hasUnliked"
      (click)="manageLikeSystem('unlike', 'down')"
      class="like-unlike-button unlike-button unliked"
    >
      <span *ngIf="!isUpdatingUnLike">Unliked</span>
      <i *ngIf="isUpdatingUnLike" class="fas fa-spinner fa-spin"></i>
    </button>
  </div>

  <div class="comment-actions" *ngIf="isOwner">
    <div class="like-unlike-div like-button liked">
      Likes: {{ comment?.numGoodEvaluation }}
    </div>

    <div class="like-unlike-div unlike-button unliked">
      Unlikes: {{ comment?.numBadEvaluation }}
    </div>
  </div>
</div>
