<div class="register-container">
  <div class="auth-form">
    <h2>Register</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" form-content>
      <div class="form-row">
        <!-- Row 1 -->
        <div class="form-column">
          <!-- Coluna 1 -->
          <div class="form-input">
            <label for="firstname">First Name</label>
            <input
              type="text"
              id="firstname"
              name="firstname"
              placeholder="Type your first name"
              formControlName="firstName"
            />
            <div class="error" *ngIf="firstNameInvalid">
              Please enter a valid first name (2-30 characters).
            </div>
          </div>
        </div>

        <div class="form-column">
          <!-- Coluna 2 -->
          <div class="form-input">
            <label for="lastname">Last Name</label>
            <input
              type="text"
              id="lastname"
              name="lastname"
              placeholder="Type your last name"
              formControlName="lastName"
            />
            <div class="error" *ngIf="lastNameInvalid">
              Please enter a valid last name (2-30 characters).
            </div>
          </div>
        </div>

        <div class="form-column">
          <!-- Coluna 3 -->
          <div class="form-input">
            <label for="nickname">Nickname</label>
            <input
              type="text"
              id="nickname"
              name="nickname"
              placeholder="Choose your nickname"
              formControlName="nickname"
            />
            <div class="error" *ngIf="nicknameInvalid">
              Please choose a valid nickname (2-15 characters).
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- Row 2 -->
        <div class="form-column">
          <!-- Column 1 -->
          <div class="form-input">
            <label for="email">E-mail</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Type your e-mail"
              formControlName="email"
            />
            <div class="error" *ngIf="emailInvalid">
              Please enter a valid email address.
            </div>
          </div>
        </div>

        <div class="form-column">
          <!-- Coluna 2 -->
          <div class="form-input">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Choose your username"
              formControlName="username"
            />
            <div class="error" *ngIf="usernameInvalid">
              Please choose a valid nickname (8-15 characters).
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- Row 3 -->
        <div class="form-column">
          <!-- Column 1 -->
          <div class="form-input">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Create a password"
              formControlName="password"
            />
            <div class="error" *ngIf="passwordInvalid">
              Password must include uppercase, lowercase, number, special
              character, and be at least 8 characters long.
            </div>
          </div>
        </div>

        <div class="form-column">
          <!-- Column 2 -->
          <div class="form-input">
            <label for="confirm-password">Confirm Password</label>
            <input
              type="password"
              id="confirm-password"
              name="confirm-password"
              placeholder="Confirm password"
              formControlName="confirmPassword"
            />
            <div class="error" *ngIf="confirmPasswordInvalid">
              Password confirmation does not match the password.
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="register-button" [disabled]="isLoading">
        <span *ngIf="!isLoading">Register</span>
        <!-- <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> -->
        <mat-icon *ngIf="isLoading" class="spinner">autorenew</mat-icon>
      </button>
    </form>
    <app-modal-update #modal></app-modal-update>
    <div class="error" *ngIf="error != ''">
      {{ error }}
    </div>
    <div class="links">
      <a routerLink="/auth/login">Already have an account? Login</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
