.container {
  padding: 10px;
  font-family: "Merriweather", serif;

  width: 100%;
  height: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  background: #f0f0f0;

  border-top: 2vh solid #f0f0f0;
}
.comment-box {
  //margin-bottom: 1vh;
  //border-bottom: 1vh solid #f0f0f0;
  //border-top: 2.5vh solid #f0f0f0;
  padding: 10px;
  border-radius: 15px;

  background-color: #333;
  width: 97.5%;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.user-avatar {
  width: 6vh; /* Ajuste o tamanho conforme necessário */
  height: 6vh;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  border: 1px solid #000000;
}

.form-comment {
  //margin-bottom: 1vh;
  //border-bottom: 1vh solid #f0f0f0;
  //border-top: 2.5vh solid #f0f0f0;
  //padding: 10px;
  border-radius: 15px;

  background-color: #333;
  width: 97.5%;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.comment-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #555;
  color: #fff;
  outline: none;
  font-size: 2.3vh;
}

.send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #666;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  font-family: "Merriweather", serif;
  font-size: 2.3vh;
  font-weight: bold;

  text-shadow: -0.3px -0.3px 0 #000, 0.3px -0.3px 0 #000, -0.3px 0.3px 0 #000,
    0.3px 0.3px 0 #000;
}

.send-button:hover {
  background-color: #777;
}
