<div class="container">
  <div class="comment-box">
    <img
      src="{{hubUserImg$ | async}}"
      alt="User Avatar"
      class="user-avatar"
    />
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-comment">
      <input
        formControlName="commentText"
        type="text"
        placeholder="Post your comment"
        class="comment-input"
      />
      <button class="send-button" type="submit">Send</button>
    </form>
  </div>
  <div *ngIf="invalidComment" class="error-message">
    Comment must be between 1 and 280 characters.
  </div>
</div>
